.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #577777;
    color: white;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
}

.navbar-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-links {
    display: flex;
    gap: 1.5rem;
}

.navbar-link {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.navbar-link:hover {
    transition: .5s;
    color:#019e5c;
}

.navbar-user {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.user-avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: 2px solid white;
}

.logout-button {
    background-color: #ce0f69;
    color: white;
    border: none;
    padding: 0.4rem 0.8rem;
    border-radius: 4px;
    cursor: pointer;
}  